SUPABASE_URL=xxxxx
SUPABASE_SERVICE_KEY=xxxx
#SUPABASE_URL=postgresql://postgres.txeehcnulkamrzaribym:OpenEDU881108!@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres

JWT_SECRET=your-custom-jwt-secret-at-least-32-chars-long
JWT_EXPIRES_IN=7d

SMTP_HOST=smtp.exmail.qq.com
SMTP_PORT=465
SMTP_USER=noreply@yourdomain.com
SMTP_PASS=your-smtp-password

SITE_NAME=OpenEDU
FRONTEND_URL=http://localhost:5173
PORT=3000
LOG_LEVEL=debug